header {
    * { box-sizing: border-box; font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif; }
    background-image: linear-gradient(45deg, lightcyan, aliceblue);
    border: 2px, solid, lightblue;
    border-radius: 10px;
    padding-left: 20px;
}

section {
    * { box-sizing: border-box; font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif; }
    border: 1px, solid, lightblue;
    border-radius: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    width: 60%;
}

button, input, select {
    border: 2px, solid, lightblue;
    background-image: linear-gradient(to bottom right, lightcyan, aliceblue);
    border-radius: 10px;
}